{#
SPDX-FileCopyrightText: Helmholtz Centre for Environmental Research (UFZ)
SPDX-FileCopyrightText: Helmholtz-Zentrum Dresden-Rossendorf (HZDR)

SPDX-License-Identifier: Apache-2.0
#}

---

network:
  version: 2
  renderer: networkd
{% if netplan_ethernets is defined %}
  ethernets:
{% for ethernet in netplan_ethernets %}
    {{ ethernet['interface_name'] }}:
{% if ethernet['dhcp4'] is defined %}
      dhcp4: "{{ ethernet['dhcp4'] }}"
{% endif %}
{% if ethernet['dhcp6'] is defined %}
      dhcp4: "{{ ethernet['dhcp6'] }}"
{% endif %}
{% if ethernet['gateway4'] is defined %}
      routes:
        - to: "default"
          via: "{{ ethernet['gateway4'] }}"
{% if ethernet['routes'] is defined %}
{% for route in ethernet['routes'] %}
        - to: "{{ route.to }}"
          via: "{{ route.via }}"
{% endfor %}
{% endif %}
{% endif %}
{% if ethernet['gateway4'] is not defined %}
{% if ethernet['routes'] is defined %}
      routes:
{% for route in ethernet['routes'] %}
        - to: "{{ route.to }}"
          via: "{{ route.via }}"
{% endfor %}
{% endif %}
{% endif %}
{% if ethernet['addresses'] is defined %}
      addresses:
{% for addresses in ethernet['addresses'] %}
        - "{{ addresses }}"
{% endfor %}
{% endif %}
{% if ethernet['nameservers'] is defined %}
      nameservers:
{% if ethernet['nameservers']['addresses'] is defined %}
        addresses:
{% for addresses in ethernet['nameservers']['addresses'] %}
          - "{{ addresses }}"
{% endfor %}
{% endif %}
{% if ethernet['nameservers']['search'] is defined %}
        search:
{% for search in ethernet['nameservers']['search'] %}
          - "{{ search }}"
{% endfor %}
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
{% if netplan_bridges is defined %}
  bridges:
{% for bridge in netplan_bridges %}
    {{ bridge['bridge_name'] }}:
      interfaces:
{% for intf in bridge['interfaces'] %}
        - "{{ intf }}"
{% endfor %}
{% if bridge['dhcp4'] is defined %}
      dhcp4: "{{ bridge['dhcp4'] }}"
{% endif %}
{% if bridge['dhcp6'] is defined %}
      dhcp4: "{{ bridge['dhcp6'] }}"
{% endif %}
{% if bridge['gateway4'] is defined %}
      routes:
        - to: "default"
          via: "{{ bridge['gateway4'] }}"
{% if bridge['routes'] is defined %}
{% for route in bridge['routes'] %}
        - to: "{{ route.to }}"
          via: "{{ route.via }}"
{% endfor %}
{% endif %}
{% endif %}
{% if bridge['gateway4'] is not defined %}
{% if bridge['routes'] is defined %}
      routes:
{% for route in bridge['routes'] %}
        - to: "{{ route.to }}"
          via: "{{ route.via }}"
{% endfor %}
{% endif %}
{% endif %}
{% if bridge['addresses'] is defined %}
      addresses:
{% for address in bridge['addresses'] %}
        - "{{ address }}"
{% endfor %}
{% endif %}
{% if bridge['nameservers'] is defined %}
      nameservers:
{% if bridge['nameservers']['addresses'] is defined %}
        addresses:
{% for address in bridge['nameservers']['addresses'] %}
          - "{{ address }}"
{% endfor %}
{% endif %}
{% if bridge['nameservers']['search'] is defined %}
        search:
{% for search in bridge['nameservers']['search'] %}
          - "{{ search }}"
{% endfor %}
{% endif %}
{% endif %}
{% if bridge['parameters'] is defined %}
      parameters:
{% for key, value in bridge['parameters'].items() %}
        {{ key }}: {{ value }}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
{% if netplan_vlans is defined %}
  vlans:
{% for vlan in netplan_vlans %}
    {{ vlan['vlan_name'] }}:
      id: {{ vlan['id'] }}
      link: {{ vlan['link'] }}
{% if vlan['gateway4'] is defined %}
      routes:
        - to: "default"
          via: "{{ vlan['gateway4'] }}"
{% if vlan['routes'] is defined %}
{% for route in vlan['routes'] %}
        - to: "{{ route.to }}"
          via: "{{ route.via }}"
{% endfor %}
{% endif %}
{% endif %}
{% if vlan['gateway4'] is not defined %}
{% if vlan['routes'] is defined %}
      routes:
{% for route in vlan['routes'] %}
        - to: "{{ route.to }}"
          via: "{{ route.via }}"
{% endfor %}
{% endif %}
{% endif %}
{% if vlan['addresses'] is defined %}
      addresses:
{% for addresses in vlan['addresses'] %}
        - "{{ addresses }}"
{% endfor %}
{% endif %}
{% if vlan['nameservers'] is defined %}
      nameservers:
{% if vlan['nameservers']['addresses'] is defined %}
        addresses:
{% for addresses in vlan['nameservers']['addresses'] %}
          - "{{ addresses }}"
{% endfor %}
{% endif %}
{% if vlan['nameservers']['search'] is defined %}
        search:
{% for search in vlan['nameservers']['search'] %}
          - "{{ search }}"
{% endfor %}
{% endif %}
{% endif %}
{% endfor %}
{% endif %}

...
